.bg-img1 {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-image: url(image/photo-1.avif);
}

.bg-img2 {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-image: url(image/photo-2.avif);
}

.bg-img3 {
  height: 100vh;
  background-color: #000;
  background-size: cover;
  background-image: url(image/photo-2.avif);
}
